<%= form_with model: @comment do |f| %>

  <% if user_signed_in? %>

    <%= f.text_field :article_id, :disabled => true %>

    <label> Enter Title </label>
    <%= f.text_field :title %>

    <label> Your comments </label>
    <%= f.text_area :body %>

    <%= f.submit %>

  <% end %>


<% end %>