<h1> articles index </h1>
  <% if user_signed_in? %>
    <%= link_to 'Add new article', article_new_path %><br/><br/><br/>
  <% end %>
  <% @articles.each do |article|%>
    <% if article.is_published %>
      <b> Category: <%= Category.find(article.category_id).name %> </b> <br/>
      <b> ID: </b>  <%= article.id %>
      <%= image_tag(article.feature_image_url.url, size: "100x50") if article.feature_image_url %><br/>
      <b> Title: </b>  <%= article.title %><br/>
      <b> Body: </b><%= article.body %><br/>
      <%= article.category_id %><br/>
      <b> Publish Date: </b> <%= article.publish_date %><br/>
      <%= link_to "Read More", article_path(article.id) %>
      <%= link_to "Delete", article , method: :delete, data: { confirm: "sure?" } %><br/><br/> <br/>
    <% end %>
  <% end %>