<h1> Show </h1>
<b> Category: </b>  <%= link_to Category.find_by('id', @article.category_id).name, category_path(@article.category_id) %><br/>
<%= image_tag(@article.feature_image_url.url, size: "500x250") if @article.feature_image_url %><br/>
<b> Title: </b> <%= @article.title %> <br/>
<b> Body: </b> <%= @article.body %><br/>
<b> Publish date: </b> <%= @article.publish_date %><br/>
 <%#= @article.feature_image_url %><br/>
<b> Is Published: </b> 
  <% if @article.is_published %>
    It is published
  <% else %>
    It is not published
  <% end %><br/>


<h1> Comments Below </h1>

<% Postcomment.where(:article_id => @article.id).each do |comment| %>
  <b>ID <%= comment.id %>
  <b> <%= comment.title %>: </b> <%= comment.body %>
  <% if comment.user_id == current_user.id  or @article.user_id == current_user.id or can? :manage, comment or can? :edit, comment%>
    <%= link_to 'edit', postcomment_edit_path(comment.id)%>
    <%= link_to "Delete", comment , method: :delete, data: { confirm: "sure?" } %><br/>
  <% end %>
<% end %>

<div align=center>

<%= form_for Postcomment.new do |f| %>

  <% if user_signed_in? %>

    <%= f.hidden_field :article_id, value: @article.id %><br/>

    <label> Enter Title </label>
    <%= f.text_field :title %><br/>

    <label> Your comments </label>
    <%= f.text_area :body %><br/>

    <%= f.submit %><br/>

  <% end %>
  </div>

<% end %>