<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div align=center>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <div align=right>
      <% if user_signed_in? %>
        <%= link_to 'log out', destroy_user_session_path, method: :delete %>
        <%= current_user.id %>
      <% else %>
        <%= link_to 'sign up', new_user_registration_path %>
        <%= link_to 'sign in', new_user_session_path %>
      <% end %>
    </div>
    <div align=center style="max-width: 600px; width: 80%;margin:auto;border: 3px solid rgba(120,120,144,0.7);padding:10px">
      <div style="text-align: left">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
